version = 0.29.0
break-cases = all
break-collection-expressions = wrap
break-infix = wrap
break-separators = after
break-sequences = false
break-struct = force
break-before-in = fit-or-vertical
cases-exp-indent = 2
dock-collection-brackets = false
exp-grouping = preserve
field-space = tight-decl
if-then-else = fit-or-vertical
indicate-multiline-delimiters = space
let-binding-indent = 2
margin = 100
module-item-spacing = preserve
nested-match = wrap
ocp-indent-compat = true
parse-docstrings = false
profile = default
sequence-blank-line = preserve-one
sequence-style = separator
single-case = sparse
space-around-lists = false
space-around-records = false
space-around-variants = false
type-decl = compact
type-decl-indent = 0
wrap-comments = false
wrap-fun-args = true
